
        *{
            box-sizing: border-box;
        }
        html, body{
            padding: 0;
            margin: 0;
            font-family: sans-serif;
        }
        .container{
            width: 80%;
            border: 1px solid transparent;
            margin: 0 auto;
            padding: 10px;
        }
        .input{
            padding: 8px;
            margin: 15px 0;
            border: 1px solid #e0e0e0;
            border-radius: 3px;
        }
        
        .input > input {
            height: 30px;
            padding: 5px 10px;
            margin: 5px 0;
            width: 100%;
            border: none;
            outline: none;
            font-size: inherit;        
        }
        .form-control:focus{
            border: none;
            outline: none;
            box-shadow: none;
        }
        .input > .input-caption{
            position: absolute;
            padding: 0 5px;
            margin: 10px;
            background-color: #fff;
            transition-property: margin;
            transition-duration: 0.02s;
            color: rgba(0, 0, 0, 0.7);
            border-radius: 3px;
            font-size: inherit;
            max-width: 98%;
        }
        .input > .caption-title{
            margin-top: -1.1rem;
            font-size: 14px;
        }
        
        .input > input::placeholder{
           visibility: hidden;
        }
        .input:focus-within > input::placeholder{
            visibility: visible;
        }
